<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Clark Wire</title>
    <!-- CDN's & Custom Styles -->
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/small-business.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet"> 
    <!-- Awesome Font -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- MailChimp Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup {
            background: #fff;
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
            width: 100%;
        }
    </style>
    <!-- End Custom Styles -->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="http://www.clarkwire.com">CLARK WIRE & CABLE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://www.clarkwire.com">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navigation -->
    <section class="section" style="margin-left:auto; margin-right:auto; margin-top: 30px; width:960px; height: 600px;">
    <h1>CORPORATE HISTORY</h1>
    <p>
        In 1989 Clark Wire & Cable opened its doors to the broadcast industry.
        The goal was to deliver highly engineered products built specifically
        for the unique demands of broadcast and professional AV coupled with exceptional customer service
        and value added support. 
    </p>
    <p> 
        At Clark, we know that customers are the cornerstones of business. Over the past three decades
        of growth, customer service and support has remained Clark's top priority. Personalized service
        with our knowledgeable sales group and account managers ensures exceptional customer service and
        on-time delivery. 
    </p>
    <h3>Clark as a Leader and an Innovator</h3>
    <p> 
        Leading and innovating in cable and connectivity technology, Clark has been first-to-market on
        many products that have evolved to become industry standards. Clark's most popular cable,
        the ribbon stereo, was the first of it's kind in the cable industry and to date we are still
        the only company that offers this bonded-style audio cable in multiple color combinations!
    </p>
    <p>
        Clark was also the first to market with remote composite cables, offering more variations than
        any other brand in the industry. Another notable first was our introduction of color-coding 
        to audio snakes, for simplified channel identification and installation. As broadcast and AV 
        technologies evolved, Clark has continued to innovate with products such as gas-injected coax,
        hybrid fiber and tactical fiber cables for use with the latest HD video standards and
        applications. 
    </p>
    <h3>More than just Cable</h3>
    <p>    
        As part of our solutions based service model, Clark also offers customized interconnect products.
        From cable assemblies and custom manufactured cables to metal fabrication and custom wired patchbays,
        Clark can deliver connectivity products built specifically for each system. As Clark continues to grow
        and innovate in our markets, we continually strive to deliver leading edge products with our distinctive personalized service. We recognize the
        value and support of each and every customer, and look forward to continually earning your business.
    </p>
    </section>
</body>

</html>